extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  .top.text-center
    h1= title
    p Welcome to #{title}
    button.btn.btn-primary
      span Create Room
  
  .container.mt-3
    .content
      table#room-list.table.table-striped.table-responsive.table-hover.table-bordered.table-condensed
        thead
          tr
            th.d-none
            th.col-10 Room
            th.col-1.text-center Users
            th.d-none
            th.col-1.text-center Open
        tbody
  
  .footer

  #connect-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h3#form-title Enter Password
          button.close(data-dismiss='modal') &times;

        .modal-body
          form#connect-form
            .form-group
              input#room-id.d-none(type='text')
              label(for='username') User Name
              input#username.form-control(type='text')
              label.mt-2(for='password') Password
              input#password.form-control(type='password')
              input#connect-submit.d-none(type='submit')
        .modal-footer
          label(for='connect-submit').btn.btn-primary
            span Enter
          label
            button.btn.btn-default(data-dismiss='modal')
              span Close
