extends layout

block scripts
  script(src='/javascripts/index.js')

block content
  .top.text-center
    h1= title
    p Welcome to #{title}
    button#create-button.btn.btn-primary
      span Create Room
  
  .content.mt-3
    .container
      table#rooms.table.table-striped.table-responsive.table-hover.table-bordered.table-condensed
        thead
          tr
            th.d-none
            th.col-10 Room
            th.col-1.text-center Users
            th.d-none
            th.col-1.text-center Open
        tbody#rooms-body
  
  .footer

  #create-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Create Room 
          button.close(data-dismiss='modal') &times;

        .modal-body
          form#create
            .form-group
              label(for='create-user-name') User Name
              input#create-user-name.form-control(type='text', name='user-name')
              label.mt-2(for='create-room-name') Room Name
              input#create-room-name.form-control(type='text', name='room-name')
              label.mt-2(for='create-admin-password') Admin Password
              input#create-admin-password.form-control(type='password', name='admin-password')
              label.mt-2(for='create-user-password') User Password
              input#create-user-password.form-control(type='password', name='user-password')
              input#create-submit.d-none(type='submit')
        .modal-footer
          label(for='create-submit').btn.btn-primary
            span Enter
          label
            button.btn.btn-default(data-dismiss='modal')
              span Close

  #join-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Join Room 
          h3#join-title
          button.close(data-dismiss='modal') &times;

        .modal-body
          form#join
            .form-group
              input#join-room-id.d-none(type='text', name='room-id')
              label(for='join-user-name') User Name
              input#join-user-name.form-control(type='text', name='user-name')
              label.mt-2#join-label-password(for='join-password') Password
              input#join-password.form-control(type='password' name='password')
              input#join-submit.d-none(type='submit')
          button.btn.btn-default.btn-sm#join-button-password
            span Admin Login
        .modal-footer
          label(for='join-submit').btn.btn-primary
            span Enter
          label
            button.btn.btn-default(data-dismiss='modal')
              span Close