extends layout

block scripts
  script(src='/javascripts/room.js')

block content
  .top.text-center
    h3 Room: #{room.name}
  
  .content
    .container-fluid.mt-3
      .row
        #dice.col-12.col-sm-6.col-md-7.col-lg-8.border.border-primary
        #log.col-12.col-sm-6.col-md-5.col-lg-4.border.border-secondary

      