extends layout

block scripts
  script(src='/javascripts/room.js')
  script(src='/javascripts/map.js')

block content
  .toggle.float-left
    button#toggle-dice.btn.btn-warning(type="button" onClick="toggle_dice(!show_dice)")
      span#toggle-dice-status Map

  .top.text-center
    h3.text-light Room: #{room.name}

  #dice-content.content
    .container-fluid.mt-2.col-12.col-md-4.col-xl-3.float-md-right
      .row.user-roll.col-12.mx-auto.input-group
        button#roll.btn.btn-primary.col-8(onClick="roll_dice()")
          span Roll
        button#add-dice.btn.btn-success.col-3.offset-1(data-toggle="modal" data-target="#dice-modal")
          span Dice
      .row.mt-2
        #dice.col-12.content
          .loader
        #log-resize.col-12
          #log-resize-up.log-resizer.float-left(onClick="log_resize(1)")
            span.oi.float-left.ml-3(data-glyph="caret-top")
            span.oi.float-left(data-glyph="caret-top")
            span.oi.float-left(data-glyph="caret-top")
          #log-resize-down.log-resizer.float-right(onClick="log_resize(-1)")
            span.oi.float-right.mr-3(data-glyph="caret-bottom")
            span.oi.float-right(data-glyph="caret-bottom")
            span.oi.float-right(data-glyph="caret-bottom")
        #log-container.col-12.pt-1.pb-1
          #log.col-12.border.border-secondary.bg-light.content
  #map-content.content(style="display: none;")
    .container-fluid.mt-2.col-12.col-md-8.col-xl-9.float-md-left
      .row.user-roll.col-12.mx-auto.input-group
        button#update-button.btn.btn-secondary.col-3.col-sm-1(onClick="send_map()")
          span Up
        // TODO: Add hide button for admin
        //button.btn.btn-primary.col-3(onClick="hide_map()")
          span Hide
        button#tools-button.btn.btn-primary.col-3.offset-sm-1(data-toggle="modal" data-target="#tools-modal")
          span Tools
        button#entities-button.btn.btn-success.col-3.offset-sm-1(data-toggle="modal" data-target="#entities-modal")
          span Entities
        button#assets-button.btn.btn-success.col-3(style="display: none;" data-toggle="modal" data-target="#assets-modal")
          span Assets
      .row.mt-2
        #map.col-12
          .loader

  .footer

  #dice-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Dice
          button.close(data-dismiss='modal') &times;
        .modal-body
          #dice-containers.row
            .dice-container.mx-auto
              .d4.text-center
                span.die-number d4
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d4')")
                  span +
                span#d4-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d4')")
                  span -
            .dice-container.mx-auto
              .d6.text-center
                span.die-number d6
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d6')")
                  span +
                span#d6-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d6')")
                  span -
            .dice-container.mx-auto
              .d8.text-center
                span.die-number d8
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d8')")
                  span +
                span#d8-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d8')")
                  span -
            .dice-container.mx-auto
              .d10.text-center
                span.die-number d10
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d10')")
                  span +
                span#d10-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d10')")
                  span -
            .dice-container.mx-auto
              .d12.text-center
                span.die-number d12
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d12')")
                  span +
                span#d12-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d12')")
                  span -
            .dice-container.mx-auto
              .d20.text-center
                span.die-number d20
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d20')")
                  span +
                span#d20-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d20')")
                  span -
          hr.row
          #preset-containers.row
            .preset-container.mx-auto
              .preset1.text-center
                h5 Preset 1
                button.btn.btn-success.mr-1(type="button" onClick="preset(0, 0)")
                  span Save
                button.btn.btn-primary.ml-1(type="button" onClick="preset(1, 0)")
                  span Load
            .preset-container.mx-auto
              .preset2.text-center
                h5 Preset 2
                button.btn.btn-success.mr-1(type="button" onClick="preset(0, 1)")
                  span Save
                button.btn.btn-primary.ml-1(type="button" onClick="preset(1, 1)")
                  span Load
        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_dice()")
            span Clear
          button.btn.btn-primary(data-dismiss="modal" onClick="roll_dice()")
            span Roll
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #tools-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Tools
          button.close(data-dismiss="modal") &times;
        .modal-body
          #tool-containers.row.mx-auto
          #tools-modal-map.row.border-top.mt-1(style="display: none;")
            h5.col-12 Load/Save Map
            input#map-data-input.col-6(type="file")
            button.btn.btn-primary.col-3(onClick="load_map()")
              span Load
            button.btn.btn-success.col-3(onClick="save_map()")
              span Save
          #wall-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Walls
          #texture-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Texture
          #fill-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Fill
        .modal-footer
          button.btn.btn-dark(data-dismiss="modal")
            span Close
        
  #entities-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Entities
          button.close(data-dismiss="modal") &times;
        .modal-body
          #entity-containers.row

        .modal-footer
          //button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_entities()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #assets-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Assets
          button.close(data-dismiss="modal") &times;
        .modal-body
          #asset-containers.row

        .modal-footer
          //button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_assets()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close