extends layout

block scripts
  script.
    const DEBUG = ('#{debugMode}' == 'true');
    const ROOM_ID = '#{id}';
  script(src='/javascripts/room.js')
  script(src='/javascripts/map.js')

block content
  .toggle.float-left
    button#toggle-dice.btn.btn-warning(type="button" onClick="toggleDice(!showDice)")
      span#toggle-dice-status Map

  .top.text-center
    h3.text-light #{name}

  #dice-content.content
    .container-fluid.mt-2.col-12.col-md-4.col-xl-3.float-md-right
      .row.user-roll.col-12.mx-auto.input-group
        button#roll.btn.btn-primary.col-7(onClick="rollDice()")
          span Roll
        button#add-dice.btn.btn-success.col-3(data-toggle="modal" data-target="#dice-modal")
          span Dice
        button#share-dice.btn.btn-warning.col-2(onClick="toggleShareDice(!shareDice)")
          span#share-dice-status.oi(data-glyph="lock-unlocked")
      .row.mt-2
        #dice.col-12.content
          .loader
        #log-resize.col-12
          #log-resize-up.log-resizer.float-left(onClick="logResize(1)")
            span.oi.float-left.ml-3(data-glyph="caret-top")
            span.oi.float-left(data-glyph="caret-top")
            span.oi.float-left(data-glyph="caret-top")
          #log-resize-down.log-resizer.float-right(onClick="logResize(-1)")
            span.oi.float-right.mr-3(data-glyph="caret-bottom")
            span.oi.float-right(data-glyph="caret-bottom")
            span.oi.float-right(data-glyph="caret-bottom")
        #log-container.col-12.pt-1.pb-1
          #log.col-12.border.border-secondary.bg-light.content
  #map-content.content(style="display: none;")
    .container-fluid.mt-2.col-12.col-md-8.col-xl-9.float-md-left
      .row.user-roll.col-12.mx-auto.input-group
        button#help-button.btn.btn-info.col-1(data-toggle="modal" data-target="#help-modal")
          span.oi(data-glyph="question-mark")
        button#share-map.btn.btn-warning.col-2(style="display: none;" onClick="toggleShareMap(!shareMap)")
          span#share-map-status Hide
        button#tools-button.btn.btn-primary.col-5(data-toggle="modal" data-target="#tools-modal")
          span Tools
        button#entities-button.btn.btn-success.col-2(data-toggle="modal" data-target="#entities-modal")
          span Entities
        button#assets-button.btn.btn-success.col-2(style="display: none;" data-toggle="modal" data-target="#assets-modal")
          span Assets
      .row.mt-2
        #map.col-12
          //.loader
          // loading graphic used by p5js
          #p5_loading.text-center
            #loader-progress
              #loader-bar
            h5#loader-status

  .footer

  #dice-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Dice
          button.close(data-dismiss='modal') &times;
        .modal-body
          #dice-containers.row
            .dice-container.mx-auto
              .d4.text-center
                span.die-number d4
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d4')")
                  span +
                span#d4-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d4')")
                  span -
            .dice-container.mx-auto
              .d6.text-center
                span.die-number d6
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d6')")
                  span +
                span#d6-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d6')")
                  span -
            .dice-container.mx-auto
              .d8.text-center
                span.die-number d8
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d8')")
                  span +
                span#d8-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d8')")
                  span -
            .dice-container.mx-auto
              .d10.text-center
                span.die-number d10
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d10')")
                  span +
                span#d10-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d10')")
                  span -
            .dice-container.mx-auto
              .d12.text-center
                span.die-number d12
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d12')")
                  span +
                span#d12-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d12')")
                  span -
            .dice-container.mx-auto
              .d20.text-center
                span.die-number d20
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="addDice('d20')")
                  span +
                span#d20-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="removeDice('d20')")
                  span -
          hr.row
          #preset-containers.row
            .preset-container.mx-auto
              #preset1.text-center
                h5 Preset 1
                #preset1-container.mx-auto.mb-1.row
                  h6.col-12 [Empty]
                #preset1-buttons
                  button.btn.btn-success.mr-1(type="button" onClick="preset(0, 0)")
                    span Save
                  button.btn.btn-primary.ml-1(type="button" onClick="preset(1, 0)")
                    span Load
            .preset-container.mx-auto
              #preset2.text-center
                h5 Preset 2
                #preset2-container.mx-auto.mb-1.row
                  h6.col-12 [Empty]
                #preset2-buttons
                  button.btn.btn-success.mr-1.align-bottom(type="button" onClick="preset(0, 1)")
                    span Save
                  button.btn.btn-primary.ml-1.align-bottom(type="button" onClick="preset(1, 1)")
                    span Load
        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clearDice()")
            span Clear
          button.btn.btn-primary(data-dismiss="modal" onClick="rollDice()")
            span Roll
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #help-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Help
          button.close(data-dismiss="modal") &times;
        .modal-body
          #help-container.row

        .modal-footer
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #tools-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Tools
          button.close(data-dismiss="modal") &times;
        .modal-body
          #tool-containers.row.mx-auto
          #wall-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Walls
          #fog-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Fog
          #texture-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Texture
          #fill-containers.row.border-top.mt-1(style="display: none;")
            h5.col-12 Fill
          #color-containers.row.border-top.mt-1.mx-auto
            h5.col-12 Token Color
            input#color-wheel(type="color")
            .token-color(style="background-color: #FFF100;" onClick="setUserColor('#FFF100')")
            .token-color(style="background-color: #FF8C00;" onClick="setUserColor('#FF8C00')")
            .token-color(style="background-color: #E81123;" onClick="setUserColor('#E81123')")
            .token-color(style="background-color: #EC008C;" onClick="setUserColor('#EC008C')")
            .token-color(style="background-color: #68217A;" onClick="setUserColor('#68217A')")
            .token-color(style="background-color: #00188F;" onClick="setUserColor('#00188F')")
            .token-color(style="background-color: #00BCF2;" onClick="setUserColor('#00BCF2')")
            .token-color(style="background-color: #00B294;" onClick="setUserColor('#00B294')")
            .token-color(style="background-color: #009E49;" onClick="setUserColor('#009E49')")
            .token-color(style="background-color: #BAD80A;" onClick="setUserColor('#BAD80A')")
          #tools-modal-map.row.border-top.mt-1(style="display: none;")
            h5.col-12 Load/Save Map
            input#map-data-input.col-6(type="file")
            button.btn.btn-primary.col-3(onClick="loadMap()")
              span Load
            button.btn.btn-success.col-3(onClick="saveMap()")
              span Save
        .modal-footer
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #entities-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Entities
          button.close(data-dismiss="modal") &times;
        .modal-body
          #entity-containers.row

        .modal-footer
          //button#clear-roll.btn.btn-warning.mr-auto(onClick="clearEntities()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #assets-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Assets
          button.close(data-dismiss="modal") &times;
        .modal-body
          #asset-containers.row

        .modal-footer
          //button#clear-roll.btn.btn-warning.mr-auto(onClick="clearAssets()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close