extends layout

block scripts
  script(src='/javascripts/room.js')

block content
  .top.text-center
    h3 Room: #{room.name}
  
  .content
    .container-fluid.mt-2
      .row.user-roll.col-12.col-md-8.col-lg-6.mx-auto.input-group
        button#roll.btn.btn-primary.col-8(onClick="roll_dice()")
          span Roll
        button#add-dice.btn.btn-success.col-4(data-toggle="modal" data-target="#dice-modal")
          span Dice
      .row.mt-2
        #dice.col-12.col-sm-6.col-md-7.col-lg-8.border.border-primary.content
          .loader
        #log.col-12.col-sm-6.col-md-5.col-lg-4.border.border-secondary.content

  .footer

  #dice-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Dice
          button.close(data-dismiss='modal') &times;
        .modal-body.row
          .dice-container.mx-auto
            .d4.text-center
              span.die-number d4
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d4')")
                span +
              span#d4-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d4')")
                span -
          .dice-container.mx-auto
            .d6.text-center
              span.die-number d6
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d6')")
                span +
              span#d6-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d6')")
                span -
          .dice-container.mx-auto
            .d8.text-center
              span.die-number d8
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d8')")
                span +
              span#d8-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d8')")
                span -
          .dice-container.mx-auto
            .d10.text-center
              span.die-number d4
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d10')")
                span +
              span#d10-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d10')")
                span -
          .dice-container.mx-auto
            .d12.text-center
              span.die-number d6
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d12')")
                span +
              span#d12-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d12')")
                span -
          .dice-container.mx-auto
            .d20.text-center
              span.die-number d8
            .dice-buttons.text-center
              button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d20')")
                span +
              span#d20-count.die-count.text-center 99
              button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d20')")
                span -
        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_dice()")
            span Clear
          button.btn.btn-default(data-dismiss='modal')
            span Close

  #dice-overlay.row
    button#dice-overlay-remove.btn.btn-danger(type="button" onClick="remove_dice()")
      span.oi(data-glyph="x") 
    #dice-overlay-glow
    button#dice-overlay-roll.btn.btn-warning(type="button" onClick="roll_dice(true)")
      span.oi(data-glyph="random")