extends layout

block scripts
  script(src='/javascripts/room.js')

block content
  .top.text-center
    h3 Room: #{room.name}
  
  .content
    .container-fluid.mt-3
      .row.user-roll
        button#roll.btn.btn-primary.col-4(onClick="roll_dice()")
          span Roll
        button#clear-roll.btn.btn-warning.col-3(onClick="clear_dice()")
          span Clear
        .dropdown.col-3.m-0.p-0
          button.btn.btn-default.dropdown-toggle.col-12(type="button" data-toggle="dropdown")
            span#dice-type d4
          .dropdown-menu(aria-labelledby="dropdownMenuButton")
            button.dice-type-select.dropdown-item.d4-label.text-center(type="button" onClick="set_dice_type('d4')") d4
            button.dice-type-select.dropdown-item.d6-label.text-center(type="button" onClick="set_dice_type('d6')") d6
            button.dice-type-select.dropdown-item.d8-label.text-center(type="button" onClick="set_dice_type('d8')") d8
            button.dice-type-select.dropdown-item.d10-label.text-center(type="button" onClick="set_dice_type('d10')") d10
            button.dice-type-select.dropdown-item.d12-label.text-center(type="button" onClick="set_dice_type('d12')") d12
            button.dice-type-select.dropdown-item.d20-label.text-center(type="button" onClick="set_dice_type('d20')") d20
        button#add-dice.btn.btn-success.col-1.p-0.m-0(onClick="add_dice()")
          span +
        button#remove-dice.btn.btn-danger.col-1.p-0.m-0(onClick="remove_dice()")
          span -
      .row
        #dice.col-12.col-sm-6.col-md-7.col-lg-8.border.border-primary
          .loader
        #log.col-12.col-sm-6.col-md-5.col-lg-4.border.border-secondary

      