extends layout

block scripts
  script(src='/javascripts/room.js')
  script(src='/javascripts/map.js')

block content
  .top.text-center
    h3.text-light Room: #{room.name}

  // map/dice toggle 
  .toggle
    button#toggle-dice.btn.btn-warning.col-1.float-right(type="button" onClick="toggle_dice(!show_dice)")
      span#toggle-dice-status Map

  .mainContainer 
    #map.containerMapTwo
    .sideBarBtnsContain  
      button.sideBarBtns.fas.fa-arrows-alt(onClick="setWidth('btnSidebar','250px')") T
      button.sideBarBtns(onClick="setWidth('btnSidebarTwo','250px')") A
      button.sideBarBtns(onClick="setWidth('btnSidebarThree','250px')") E
    .tStyle1.containerSidebar 
      #btnSidebar.btnSidebar
        a(href="javascript:void(0)").closeBtnSidebar(onClick="setWidth('btnSidebar','0px')") x
        .btnAccordion#btnAccordion
          .card
          h5.mb-0
            #headingOne.cardHeader
              button.btn.btn-link(data-toggle="collapse" data-target="#collapse-1") 
                h4 Tools!
            #collapse-1.collapse
              .acc-flex-con.cardbody
                h6 modes
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-map(onClick="myp5.setSpecificMode('map');")  Map mode      
                button.btn-acc.btn.btn-primary.btn-sm(onClick="myp5.setSpecificMode('wall');") Wall mode
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-eraser(onClick="myp5.setSpecificMode('erase');")  Eraser
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-eraser(onClick="myp5.setSpecificMode('texture', 0);")  Eraser0
                hr
              .acc-btn-con
                h6.btn-acc Paint
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-paint-brush(onClick="myp5.setSpecificMode('texture', 1);")  Grass
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-fill(onClick="myp5.setSpecificMode('fill', 1 );") Grass
              .acc-btn-con
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-paint-brush(onClick="myp5.setSpecificMode('texture', 2);")  Stone
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-fill(onClick="myp5.setSpecificMode('fill', 2 );")  Stone
              .acc-btn-con
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-paint-brush(onClick="myp5.setSpecificMode('texture', 3);")  Wood
                button.btn-acc.btn.btn-primary.btn-sm.fas.fa-fill(onClick="myp5.setSpecificMode('fill', 3 );")  Wood
      #btnSidebarTwo.btnSidebar
         a(href="javascript:void(0)").closeBtnSidebarTwo(onClick="setWidth('btnSidebarTwo','0px')") x
         .btnAccordion#btnAccordion
          .card
          .cardHeader#headingOne
            h5.mb-0
              button.btn.btn-link(data-toggle="collapse" data-target="#collapse-2") 
                h4 Assets!
          #collapse-2.collapse  
            .acc-flex-con.cardbody
              button.btn-acc.btn.btn-primary.btn-sm(onClick="myp5.setSpecificMode('asset', 0);") Move
              button.btn-acc.btn.btn-primary.btn-sm(onClick="myp5.setSpecificMode('asset', 1);") Boulder
              button.btn-acc.btn.btn-primary.btn-sm(onClick="myp5.setSpecificMode('asset', 2);") Chest
              button.btn.btn-sm.btn-warning(onClick="clear_assets()") Clear
      #btnSidebarThree.btnSidebar
          a(href="javascript:void(0)").closeBtnSidebarThree(onClick="setWidth('btnSidebarThree','0px')") x
          .btnAccordion#btnAccordion
            .card
            .cardheader#headingOne
              h5.mb-0
              button.btn.btn-link(data-toggle="collapse" data-target="#collapse-3") 
                h4 Entities!
            #collapse-3.collapse  
              .acc-flex-con.card-body
                button.btn-acc.btn.btn-primary.btn-sm(onClick="") Move
                button.btn.btn-sm.btn-warning(onClick="") Clear
                button.btn.btn-sm.btn-warning(onClick="") not-done-yet

    
    .containerDice  
      #dice-content.col-12.col-sm-6.col-md-7.col-lg-12.content
          .row.user-roll.col-12.col-md-8.col-lg-12.mx-auto.input-group
            button#roll.btn.btn-primary.col-8(onClick="roll_dice()")
              span Roll
            button#add-dice.btn.btn-success.col-3.offset-1(data-toggle="modal" data-target="#dice-modal")
              span Dice
          //dice/history container
          .row.mt-2
            #dice.col-12.col-sm-6.col-md-7.col-lg-12.content
              .loader
            #log-container.col-12.col-sm-6.col-md-5.col-lg-12.pt-1.pb-1
              #log.border.border-secondary.bg-light.content

 
 

  .footer

  //modals ------ begin
  #dice-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Dice
          button.close(data-dismiss='modal') &times;
        .modal-body
          .row#dice-containers
            .dice-container.mx-auto
              .d4.text-center
                span.die-number d4
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d4')")
                  span +
                span#d4-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d4')")
                  span -
            .dice-container.mx-auto
              .d6.text-center
                span.die-number d6
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d6')")
                  span +
                span#d6-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d6')")
                  span -
            .dice-container.mx-auto
              .d8.text-center
                span.die-number d8
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d8')")
                  span +
                span#d8-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d8')")
                  span -
            .dice-container.mx-auto
              .d10.text-center
                span.die-number d10
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d10')")
                  span +
                span#d10-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d10')")
                  span -
            .dice-container.mx-auto
              .d12.text-center
                span.die-number d12
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d12')")
                  span +
                span#d12-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d12')")
                  span -
            .dice-container.mx-auto
              .d20.text-center
                span.die-number d20
              .dice-buttons.text-center
                button.btn.btn-success.col-3.mr-1(type="button" onClick="add_dice('d20')")
                  span +
                span#d20-count.die-count.text-center 0
                button.btn.btn-danger.col-3.ml-1(type="button" onClick="remove_dice('d20')")
                  span -
          hr.row
          .row#preset-containers
            .preset-container.mx-auto
              .preset1.text-center
                h5 Preset 1
                button.btn.btn-success.mr-1(type="button" onClick="preset(0, 0)")
                  span Save
                button.btn.btn-primary.ml-1(type="button" onClick="preset(1, 0)")
                  span Load
            .preset-container.mx-auto
              .preset2.text-center
                h5 Preset 2
                button.btn.btn-success.mr-1(type="button" onClick="preset(0, 1)")
                  span Save
                button.btn.btn-primary.ml-1(type="button" onClick="preset(1, 1)")
                  span Load
        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_dice()")
            span Clear
          button.btn.btn-primary(data-dismiss="modal" onClick="roll_dice()")
            span Roll
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #tools-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Tools
          button.close(data-dismiss="modal") &times;
        .modal-body
          input#map-data-input(type="file")
          button.btn.btn-primary(onClick="load_map()")
            span Load
          button.btn.btn-success.offset-1(onClick="save_map()")
            span Save
        .modal-footer
          button.btn.btn-dark(data-dismiss="modal")
            span Close
        
  #entities-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Entities
          button.close(data-dismiss="modal") &times;
        .modal-body

        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_entities()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close

  #assets-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          h2 Assets
          button.close(data-dismiss="modal") &times;
        .modal-body

        .modal-footer
          button#clear-roll.btn.btn-warning.mr-auto(onClick="clear_assets()")
            span Clear
          button.btn.btn-dark(data-dismiss="modal")
            span Close