body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#log {
  overflow-y: scroll;
}

.d4, .d6, .d8, .d10, .d12, .d20 {
  width: 64px;
  height: 64px;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
}
.d4 {
  background-image: url('/images/d4.png');
}
.d6 {
  background-image: url('/images/d6.png');
}
.d8 {
  background-image: url('/images/d8.png');
}
.d10 {
  background-image: url('/images/d10.png');
}
.d12 {
  background-image: url('/images/d12.png');
}
.d20 {
  background-image: url('/images/d20.png');
}

.die-number {
  font-size: 2em;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}