body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(32, 32, 32);
  background-image: url('/media/rolls/table.png');
  background-size: contain;
  background-position: top;
  background-repeat: repeat-y;
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  overflow-y: hidden;
}

:not(body) {
  image-rendering: auto;
}

@media (min-width: 576px) { 
  body {
    background-size: 100% auto;
  }
}

@media (min-width: 768px) {
  body {
    background-size: 100% auto;
  }
}

@media (min-width: 992px) {
  body {
    background-size: 75% auto;
  }
}

@media (min-width: 1200px) {

}

a {
  color: #00B7FF;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#rooms {
  max-width: 792px;
}

#rooms td:hover {
  cursor: pointer;  
}

#toggle-dice {
  z-index: 1;
}

#dice {
  background-color: transparent;
  border: double 8px grey;
  overflow-y: auto;
  overflow-x: hidden;
}

#map {
  background-color: transparent;
  border: double 8px grey;
  cursor: none;
  padding: 4px 15px;
}

#map canvas {
  background-image: url('/media/rolls/parchment.jpg');
}

#log-container {
  background-color: transparent;
  border: double 8px grey;
  height: 100px;
}

#log-resize {
  background-color: grey;
  height: 4px;
}

#log-resize .log-resizer {
  z-index: 1;
  position: relative;
  top: -5px;
  cursor: pointer;
}

/* #log-container:after {
  content: ' ';
  position: absolute;
  top: 0;
  height:4px;
  width: 100%;
  cursor: n-resize;
} */

#log {
  overflow-y: auto;
  height: 100%;
}

#log span p {
  margin-bottom: 0;
}

#log span {
  margin-bottom: 0.1em;
}

.wall-container {
  cursor: pointer;
}

.wall-container img {
  height: 16px;
  width: 64px;
}

.texture-container {
  cursor: pointer;
}

.texture-container img {
  border-radius: 32px;
  height: 64px;
  width: 64px;
}

.fill-container {
  cursor: pointer;
}

.fill-container img {
  height: 64px;
  width: 64px;
}

.entity-container {
  cursor: pointer;
}

.entity-container img {
  height: 64px;
  width: 64px;
}

.asset-container {
  cursor: pointer;
}

.asset-container img {
  height: 64px;
  width: 64px;
}

.d4, .d6, .d8, .d10, .d12, .d20 {
  height: 64px;
  width: 64px;
  margin: auto;
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}
.d4 {  background-image: url('/media/rolls/dice/d4.png'); }
.d6 {  background-image: url('/media/rolls/dice/d6.png'); }
.d8 {  background-image: url('/media/rolls/dice/d8.png'); }
.d10 { background-image: url('/media/rolls/dice/d10.png'); }
.d12 { background-image: url('/media/rolls/dice/d12.png'); }
.d20 { background-image: url('/media/rolls/dice/d20.png'); }

@keyframes d4-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #3366ff80, 
                0 0 8px 32px #3366ff80 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #3366ff00, 
                0 0 8px 32px #3366ff00 inset;
    transform: translate(0px, 0px);
  }
}
@keyframes d6-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #ffff0080, 
                0 0 8px 32px #ffff0080 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #ffff0000, 
                0 0 8px 32px #ffff0000 inset;
    transform: translate(0px, 0px);
  }
}
@keyframes d8-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #00800080, 
                0 0 8px 32px #00800080 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #00800000, 
                0 0 8px 32px #00800000 inset;
    transform: translate(0px, 0px);
  }
}
@keyframes d10-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #ff000080, 
                0 0 8px 32px #ff000080 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #ff000000, 
                0 0 8px 32px #ff000000 inset;
    transform: translate(0px, 0px);
  }
}
@keyframes d12-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #ff990080, 
                0 0 8px 32px #ff990080 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #ff990000, 
                0 0 8px 32px #ff990000 inset;
    transform: translate(0px, 0px);
  }
}
@keyframes d20-glow {  
  0% { 
    box-shadow: 0 0 4px 4px #99336680, 
                0 0 8px 32px #99336680 inset;
    transform: translate(0px, 0px);
  }
  13% { transform: translate(8px, 0px); }
  25% { transform: translate(-8px, 0px); }
  38% { transform: translate(8px, 0px); }
  50% { transform: translate(-8px, 0px); }
  63% { transform: translate(8px, 0px); }
  75% { transform: translate(-8px, 0px); }
  100% { 
    box-shadow: 0 0 4px 4px #99336600, 
                0 0 8px 32px #99336600 inset;
    transform: translate(0px, 0px);
  }
}

.dice-container {
  width: 132px;
}

.preset-container {
  width: 164px;
}

/*
.user-dice {
  background: rgba(248, 249, 250, 0.5);
}
*/

.dice-roll {
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}

@keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

.d4-label {
  color: #FFFFFF;
  background-color: #3366FF;
}
.d6-label {
  color: #000000;
  background-color: #FFFF00;
}
.d8-label {
  color: #FFFFFF;
  background-color: #008000;
}
.d10-label {
  color: #000000;
  background-color: #FF0000;
}
.d12-label {
  color: #000000;
  background-color: #FF9900;
}
.d20-label {
  color: #FFFFFF;
  background-color: #993366;
}

#user-counter:hover {
  cursor: pointer;
}

.die-number {
  line-height: 64px;
  vertical-align: middle;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-size: 2em;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}

.die-count {
  vertical-align: middle;
  width: 52px;
  height: 38px;
  font-size: 2em;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0px 1px 0 #000,
  0px -1px 0 #000,
  -1px 0px 0 #000,
  1px 0px 0 #000,
  2px 2px 0 #000,
  -2px 2px 0 #000,
  2px -2px 0 #000,
  -2px -2px 0 #000,
  0px 2px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 0px 0 #000,
  1px 2px 0 #000,
  -1px 2px 0 #000,
  1px -2px 0 #000,
  -1px -2px 0 #000,
  2px 1px 0 #000,
  -2px 1px 0 #000,
  2px -1px 0 #000,
  -2px -1px 0 #000;
}

.dice-click:hover {
  cursor: pointer;
}

#dice-overlay {
  position: relative;
  top: -64px;
  left: -17px;
  width: 128px;
}

#dice-overlay-glow {
  width: 64px;
  height: 64px;
  border-color: #00FF00;
  -webkit-box-shadow: 0px 0px 25px 0px #00FF00;
  -moz-box-shadow: 0px 0px 25px 0px #00FF00;
  box-shadow: 0px 0px 25px 0px #00FF00;
  z-index: 20;
}

.d4 #dice-overlay-glow {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.d6 #dice-overlay-glow {
  border-radius: 10%;
}

.d8 #dice-overlay-glow, .d10 #dice-overlay-glow, .d12 #dice-overlay-glow, .d20 #dice-overlay-glow {
  border-radius: 50%;
}

#dice-overlay-remove {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  width: 32px;
  height: 32px;
  z-index: 21;
}

#dice-overlay-roll {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  width: 32px;
  height: 32px;
  z-index: 21;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
